a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
i.red-text {
  cursor: pointer;
}
ul.listx {
  padding-left: 20px;
}
ul.listx li {
  list-style-type: disc;
}
.enlargeImage {
  width: unset;
  cursor: pointer;
}

.beforeImage img {
  cursor: pointer;
}
.mainbox {
  margin-top: 50px;
}

.custom-tooltip {
  background-color: white;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid black;
}
.breadcrumb {
  cursor: pointer;
}
nav {
  box-shadow: unset;
  background-color: white;
}
.whiteBreadCrumbs {
  background-color: white;
}

.breadcrumb,
.breadcrumb:before,
.breadcrumb:last-child {
  color: #26a69a;
}
.bold {
  font-style: bold;
}
